* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
/ROOT.war -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/app/app.js -text
WebContent/WEB-INF/app/assets/css/animation.css -text
WebContent/WEB-INF/app/assets/css/bootstrap-theme.css -text
WebContent/WEB-INF/app/assets/css/bootstrap-theme.css.map -text
WebContent/WEB-INF/app/assets/css/bootstrap-theme.css_old -text
WebContent/WEB-INF/app/assets/css/bootstrap-theme.min.css -text
WebContent/WEB-INF/app/assets/css/bootstrap.css -text
WebContent/WEB-INF/app/assets/css/bootstrap.css.map -text
WebContent/WEB-INF/app/assets/css/bootstrap.css_old -text
WebContent/WEB-INF/app/assets/css/bootstrap.min.css -text
WebContent/WEB-INF/app/assets/css/bootstrap1304.css -text
WebContent/WEB-INF/app/assets/css/mercury_bold-webfont.eot -text
WebContent/WEB-INF/app/assets/css/mercury_bold-webfont.svg -text
WebContent/WEB-INF/app/assets/css/mercury_bold-webfont.ttf -text
WebContent/WEB-INF/app/assets/css/mercury_bold-webfont.woff -text
WebContent/WEB-INF/app/assets/css/mercury_light-webfont.eot -text
WebContent/WEB-INF/app/assets/css/mercury_light-webfont.svg -text
WebContent/WEB-INF/app/assets/css/mercury_light-webfont.ttf -text
WebContent/WEB-INF/app/assets/css/mercury_light-webfont.woff -text
WebContent/WEB-INF/app/assets/css/mercury_medium-webfont.eot -text
WebContent/WEB-INF/app/assets/css/mercury_medium-webfont.svg -text
WebContent/WEB-INF/app/assets/css/mercury_medium-webfont.ttf -text
WebContent/WEB-INF/app/assets/css/mercury_medium-webfont.woff -text
WebContent/WEB-INF/app/assets/css/mercury_regular-webfont.eot -text
WebContent/WEB-INF/app/assets/css/mercury_regular-webfont.svg -text
WebContent/WEB-INF/app/assets/css/mercury_regular-webfont.ttf -text
WebContent/WEB-INF/app/assets/css/mercury_regular-webfont.woff -text
WebContent/WEB-INF/app/assets/css/select2.min.css -text
WebContent/WEB-INF/app/assets/fonts/font-awesome.css -text
WebContent/WEB-INF/app/assets/fonts/font-awesome.min.css -text
WebContent/WEB-INF/app/assets/fonts/glyphicons-halflings-regular.eot -text
WebContent/WEB-INF/app/assets/fonts/glyphicons-halflings-regular.svg -text
WebContent/WEB-INF/app/assets/fonts/glyphicons-halflings-regular.ttf -text
WebContent/WEB-INF/app/assets/fonts/glyphicons-halflings-regular.woff -text
WebContent/WEB-INF/app/assets/img/dcm.png -text
WebContent/WEB-INF/app/assets/img/favicon.png -text
WebContent/WEB-INF/app/assets/img/havasmedia.png -text
WebContent/WEB-INF/app/assets/img/havasmedia2.png -text
WebContent/WEB-INF/app/assets/img/loader.gif -text
WebContent/WEB-INF/app/assets/img/loader2.gif -text
WebContent/WEB-INF/app/assets/img/rp-01.png -text
WebContent/WEB-INF/app/assets/img/rpgris.png -text
WebContent/WEB-INF/app/assets/js/autosize.js -text
WebContent/WEB-INF/app/assets/js/bootstrap.min.js -text
WebContent/WEB-INF/app/assets/js/select2.min.js -text
WebContent/WEB-INF/app/assets/ngtable/ng-table.map -text
WebContent/WEB-INF/app/assets/ngtable/ng-table.min.css -text
WebContent/WEB-INF/app/assets/ngtable/ng-table.min.js -text
WebContent/WEB-INF/app/controllers/IndexController.js -text
WebContent/WEB-INF/app/controllers/IndexDCMController.js -text
WebContent/WEB-INF/app/controllers/LoginController.js -text
WebContent/WEB-INF/app/directive/AnimatDirective.js -text
WebContent/WEB-INF/app/directive/EnterDirective.js -text
WebContent/WEB-INF/app/filters/customFilter.js -text
WebContent/WEB-INF/app/index.html -text
WebContent/WEB-INF/app/indexDCM.html -text
WebContent/WEB-INF/app/index_v1.html -text
WebContent/WEB-INF/app/js/angular/angular-animate.js -text
WebContent/WEB-INF/app/js/angular/angular-animate.min.js -text
WebContent/WEB-INF/app/js/angular/angular-animate.min.js.map -text
WebContent/WEB-INF/app/js/angular/angular-cookies.min.js -text
WebContent/WEB-INF/app/js/angular/angular-cookies.min.js.map -text
WebContent/WEB-INF/app/js/angular/angular-resource.min.js -text
WebContent/WEB-INF/app/js/angular/angular-resource.min.js.map -text
WebContent/WEB-INF/app/js/angular/angular-route.min.js -text
WebContent/WEB-INF/app/js/angular/angular-route.min.js.map -text
WebContent/WEB-INF/app/js/angular/angular-sanitize.min.js -text
WebContent/WEB-INF/app/js/angular/angular-sanitize.min.js.map -text
WebContent/WEB-INF/app/js/angular/angular-strap.js -text
WebContent/WEB-INF/app/js/angular/angular-strap.tpl.js -text
WebContent/WEB-INF/app/js/angular/angular.js -text
WebContent/WEB-INF/app/js/angular/angular.min.js -text
WebContent/WEB-INF/app/js/angular/angular.min.js.map -text
WebContent/WEB-INF/app/js/lodash.min.js -text
WebContent/WEB-INF/app/js/sorttable.js -text
WebContent/WEB-INF/app/login.html -text
WebContent/WEB-INF/app/services/DCMAuthService.js -text
WebContent/WEB-INF/app/services/GetRedirectService.js -text
WebContent/WEB-INF/app/video.html -text
WebContent/WEB-INF/app/video/Enter-With-TM.mp4 -text
WebContent/WEB-INF/app/video/Enter-Without-TM.mp4 -text
WebContent/WEB-INF/app/views/404.html -text
WebContent/WEB-INF/classes/log4j.properties -text
WebContent/WEB-INF/lib/sqljdbc4.jar -text
WebContent/WEB-INF/web.xml -text
WebContent/WEB-INF/wsrp-servlet.xml -text
WebContent/mau.wsdl -text
certification/API[!!-~]Project-172492f9d834.p12 -text
certification/TMDSP-b475fa2baa8a.p12 -text
/pom.xml -text
sql/create.sql -text
sql/sprint2sql.sql -text
src/dao/LogDao.java -text
src/dao/RedirectDao.java -text
src/dao/TMDao.java -text
src/dao/TokenDao.java -text
src/dao/UserProfileDao.java -text
src/models/CamDesc.java -text
src/models/CamMin.java -text
src/models/CamTM.java -text
src/models/CamUpdate.java -text
src/models/CamWithToken.java -text
src/models/CampaignRP.java -text
src/models/CampaignRP2.java -text
src/models/Log.java -text
src/models/RedTagWithToken.java -text
src/models/Redirect.java -text
src/models/Redirect2.java -text
src/models/RedirectTag.java -text
src/models/RedirectTag2.java -text
src/models/RedirectWithToken.java -text
src/models/Site.java -text
src/models/Site2.java -text
src/models/TokenResp.java -text
src/models/UserProfileDCM.java -text
src/models/UserProfileDCMList.java -text
src/properties/dao-context.xml -text
src/properties/doubleclick.properties -text
src/properties/jdbc.properties -text
src/properties/model-context.xml -text
src/properties/service-context.xml -text
src/properties/wsrp.properties -text
src/rest/controllers/DCMController.java -text
src/rest/controllers/DSPController.java -text
src/rest/controllers/IndexPageController.java -text
src/rest/controllers/LogController.java -text
src/rest/controllers/TMController.java -text
src/rest/services/DCMService.java -text
src/rest/services/DSPService.java -text
src/rest/services/LogService.java -text
src/rest/services/ServiceAccount.java -text
src/rest/services/TMService.java -text
src/rest/services/UserProfileService.java -text
src/security/Auth.java -text
src/security/MAUAuth.java -text
src/security/Token.java -text
src/security/com/geodis/portal/mau/Identity.java -text
src/security/com/geodis/portal/mau/MAUException.java -text
src/security/com/geodis/portal/mau/UserSession.java -text
src/security/com/geodis/portal/mau/UserSessionFactory.java -text
src/security/com/geodis/portal/mau/UserSessionFactoryProxy.java -text
src/security/com/geodis/portal/mau/UserSessionFactoryService.java -text
src/security/com/geodis/portal/mau/UserSessionFactoryServiceLocator.java -text
src/security/com/geodis/portal/mau/UserSessionFactorySoapBindingStub.java -text
src/servlets/OAuth2CallBackServlet.java -text
src/servlets/OAuth2Servlet.java -text
src/test/HotfixTM1.java -text
src/test/TestAPIDCM.java -text
src/test/TestDAO.java -text
src/test/TestDB.java -text
src/test/TestDate.java -text
src/test/TestMAU.java -text
src/test/TestToken.java -text
src/utils/DBConnection.java -text
src/utils/OAuthUtil.java -text
src/utils/TimeUtil.java -text
target/classes/dao/LogDao.class -text
target/classes/dao/RedirectDao.class -text
target/classes/dao/TMDao.class -text
target/classes/dao/TokenDao.class -text
target/classes/dao/UserProfileDao.class -text
target/classes/models/CamDesc.class -text
target/classes/models/CamMin.class -text
target/classes/models/CamTM.class -text
target/classes/models/CamUpdate.class -text
target/classes/models/CamWithToken.class -text
target/classes/models/CampaignRP.class -text
target/classes/models/CampaignRP2.class -text
target/classes/models/Log.class -text
target/classes/models/RedTagWithToken.class -text
target/classes/models/Redirect.class -text
target/classes/models/Redirect2.class -text
target/classes/models/RedirectTag.class -text
target/classes/models/RedirectTag2.class -text
target/classes/models/RedirectWithToken.class -text
target/classes/models/Site.class -text
target/classes/models/Site2.class -text
target/classes/models/TokenResp.class -text
target/classes/models/UserProfileDCM.class -text
target/classes/models/UserProfileDCMList.class -text
target/classes/properties/dao-context.xml -text
target/classes/properties/doubleclick.properties -text
target/classes/properties/jdbc.properties -text
target/classes/properties/model-context.xml -text
target/classes/properties/service-context.xml -text
target/classes/properties/wsrp.properties -text
target/classes/rest/controllers/DCMController$1.class -text
target/classes/rest/controllers/DCMController.class -text
target/classes/rest/controllers/DSPController.class -text
target/classes/rest/controllers/IndexPageController.class -text
target/classes/rest/controllers/LogController.class -text
target/classes/rest/controllers/TMController.class -text
target/classes/rest/services/DCMService$1.class -text
target/classes/rest/services/DCMService.class -text
target/classes/rest/services/DSPService.class -text
target/classes/rest/services/LogService.class -text
target/classes/rest/services/ServiceAccount.class -text
target/classes/rest/services/TMService.class -text
target/classes/rest/services/UserProfileService.class -text
target/classes/security/Auth.class -text
target/classes/security/MAUAuth.class -text
target/classes/security/Token.class -text
target/classes/security/com/geodis/portal/mau/Identity.class -text
target/classes/security/com/geodis/portal/mau/MAUException.class -text
target/classes/security/com/geodis/portal/mau/UserSession.class -text
target/classes/security/com/geodis/portal/mau/UserSessionFactory.class -text
target/classes/security/com/geodis/portal/mau/UserSessionFactoryProxy.class -text
target/classes/security/com/geodis/portal/mau/UserSessionFactoryService.class -text
target/classes/security/com/geodis/portal/mau/UserSessionFactoryServiceLocator.class -text
target/classes/security/com/geodis/portal/mau/UserSessionFactorySoapBindingStub.class -text
target/classes/servlets/OAuth2CallBackServlet.class -text
target/classes/servlets/OAuth2Servlet.class -text
target/classes/test/HotfixTM1.class -text
target/classes/test/TestAPIDCM.class -text
target/classes/test/TestDAO.class -text
target/classes/test/TestDB.class -text
target/classes/test/TestDate.class -text
target/classes/test/TestMAU.class -text
target/classes/test/TestToken.class -text
target/classes/utils/DBConnection.class -text
target/classes/utils/OAuthUtil.class -text
target/classes/utils/TimeUtil.class -text
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF -text
target/m2e-wtp/web-resources/META-INF/maven/wsrp/wsrp/pom.properties -text
target/m2e-wtp/web-resources/META-INF/maven/wsrp/wsrp/pom.xml -text
/wsrp.war -text
